@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss';

html,
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100vw;
	font-family: Roboto, sans-serif;
}

#root {
	height: 100%;
}

::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	border-radius: 9999px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: rgb(75 85 99);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(107 114 128);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
